
html {
    scroll-behavior: smooth; 
}

body {
    
    background-color: black; 
    color: #f2f0ef;
}

a {
    text-decoration: none;
    color: inherit;
}

/* --- NAVIGATION --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color:black; 
    position:relative;
    top: 0;
    border-bottom: 1px solid #333;
}

.logo {
    font-weight: bold;
    color: #b66878; 
}
.logo:hover {
    color: #f2f0ef;
}

.menu {
    font-weight: bold;
    display: flex;
    list-style: none;
    color: #b66878; 
    
    
}



.menu a:hover {
    color: #f2f0ef;
}

/* --- HERO SECTION (Accueil) --- */
.hero {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background: radial-gradient(circle at center, #1e1e1e 0%, #121212 70%);
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero span {
    color: transparent;
    background: linear-gradient(90deg, #b66878, #9b59b6); /* Dégradé Rose-Violet */
    -webkit-background-clip: text;
    background-clip: text;
}

.hero p {
    font-size: 1.2rem;
    color: #f2f0ef;
    max-width: 600px;
    margin-bottom: 40px;
}

.bouton {
    padding: 12px 30px;
    background-color: #b66878;
    color: #f2f0ef;
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.bouton:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.5); 
}

/* --- TITRES DE SECTIONS --- */
.apropos h2, 
.mescompetences h2, 
.mesrealisations h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 80px 0 40px 0;
    color: #b66878;
    position: relative;
    display: inline-block;
    width: 100%;
}



/* --- PROJETS / RÉALISATIONS (GRID) --- */
.portfolio-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; }



